<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://cdn-icons-png.flaticon.com/512/3456/3456388.png"
          class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form [formGroup]="registerForm">
          <!-- Email input -->
          <div data-mdb-input-init class="form-outline mb-4">
            <label class="form-label" for="email">Email address</label>
            <input type="email" id="email" formControlName="email" class="form-control form-control-lg"
              placeholder="Enter a valid email address" />
              <small *ngIf="registerForm.get('email')?.errors?.['required']">Email is required.</small>
              <small *ngIf="registerForm.get('email')?.errors?.['email']">Enter a valid email.</small>
          </div>

          <!-- Password input -->
          <div data-mdb-input-init class="form-outline mb-4">
            <label class="form-label" for="password">Password</label>
            <input type="password" id="password" formControlName="password" class="form-control form-control-lg"
              placeholder="Enter password" />
              <small *ngIf="registerForm.get('password')?.errors?.['required']">Password is required.</small>
              <small *ngIf="registerForm.get('password')?.errors?.['minlength']"> Password must be at least 6 characters long.
              </small>
          </div>
          <!-- Repeat Password input -->
          <div data-mdb-input-init class="form-outline mb-4">
            <label class="form-label" for="repeatPassword">Repeat Password</label>
            <input type="password" id="repeatPassword" formControlName="repeatPassword" class="form-control form-control-lg"
              placeholder="Enter password" />
              <small *ngIf="registerForm.get('repeatPassword')?.errors?.['required']">Password is required.</small>
              <small *ngIf="registerForm.value['password'] !== registerForm.value['repeatPassword']"> Password does not match
              </small>
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <button  type="submit" [disabled]="registerForm.invalid" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem;" (click)="onSubmit()">Register</button>
          </div>

        </form>
      </div>
    </div>
  </div>

</section>
